# Profile generation
This is an example of generating hourly electricity consumption for 150 random households(some with soalr power and some with wind power) in Belgium from July 1, 2020 to July 7, 2020.

* [Electricity Consumption Profile Generation](#ele_profile)
* [Windpower Turbine Profile Generation](#windpower_profile)
* [PV Profile Generation](#pv_profile)
* [Gather Data](#gather_data)

## Electricity Consumption Profile Generation<a class="anchor" id="ele_profile"></a>
The load profile of electricity consumption was generated by using [loadprofilegenerator](https://www.loadprofilegenerator.de/) first as the raw data. As an example, there are 61 random family profile generated in the data file.

In [1]:
import csv
import os
import random

import pandas as pd

In [2]:
file_name = "\Results\SumProfiles_3600s.HH1.Electricity.csv"
dir_name = "data\\"

dirs = os.listdir(dir_name)
all_list = []
data=[]

for i in dirs:
    # print(i)
    File_Path = dir_name + i + file_name
    # print(File_Path)
    with open(File_Path) as f:
        raw = []
        f_csv = csv.reader(f)

        header = next(f_csv)

        for row in f_csv:
            x = str(row).split(";")
            raw.append(float(x[2][0:-2]))
    all_list.append(raw)
    
# to expand the data from 61 to 150, we choose a random constant
for i in range(150):
    randdata = random.choice(all_list)
    adata = [round((i * random.uniform(0.9, 1.1)), 2) for i in randdata]
    data.append(adata)

Originally, the data was expanded from 61 households, as an example, here are 10 households.

In [3]:
# In total, there are 150 households with 150 hours each.
df=pd.DataFrame(data).T
df

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
0,0.10,0.12,0.04,0.04,0.04,0.06,0.06,0.11,0.07,0.10,...,0.10,0.04,0.05,0.07,0.05,0.09,0.08,0.06,0.09,0.05
1,0.10,0.07,0.05,0.04,0.04,0.04,0.11,0.08,0.05,0.04,...,0.11,0.05,0.04,0.06,0.05,0.07,0.11,0.12,0.05,0.05
2,0.12,0.07,0.04,0.05,0.04,0.05,0.12,0.07,0.11,0.04,...,0.13,0.04,0.04,0.08,0.06,0.07,0.15,0.22,0.05,0.05
3,0.11,0.09,0.04,0.05,0.05,0.06,0.07,0.09,0.09,0.05,...,0.10,0.05,0.05,0.17,0.06,0.08,0.15,0.07,0.05,0.04
4,0.10,0.38,0.05,0.04,0.14,0.03,0.06,0.36,0.11,0.10,...,0.11,0.05,0.05,0.11,0.04,0.09,0.22,0.07,0.08,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,1.29,1.46,1.24,1.16,2.93,0.06,0.29,1.31,0.81,1.15,...,1.46,0.81,0.26,0.26,0.05,0.63,1.32,2.17,0.47,0.24
164,5.27,0.49,0.72,0.66,2.73,0.09,0.72,0.42,0.63,0.49,...,5.20,0.72,0.09,0.45,0.09,0.57,1.02,0.34,0.08,0.09
165,2.98,0.25,0.13,0.12,0.74,0.05,0.63,0.28,1.20,0.42,...,2.99,0.41,0.08,0.37,0.05,0.61,0.89,0.39,0.07,0.08
166,0.95,0.18,0.21,0.21,0.18,0.06,0.34,0.18,0.46,0.39,...,1.00,0.10,0.05,0.23,0.06,0.40,0.71,0.29,0.08,0.04
167,0.15,0.11,0.05,0.05,0.04,0.05,0.16,0.11,0.43,0.12,...,0.16,0.06,0.05,0.13,0.05,0.11,0.08,0.06,0.14,0.05

There is already a file that generated 150 househoolds from 61 raw data.

In [4]:
# df.to_excel("ele_profile.xlsx", index=False)

## Windpower Turbine Profile Generation<a class="anchor" id="windpower_profile"></a>
The windpower profile can be found in another repository. You can click the [link](https://github.com/PeijieZ/WindpowerlibTurbine-model) to find more.
Here I built three raw data for prosumers that contain 1.0kw, 1.5kw and 2.0kw wind turbine. The data then expand to 10.

In [5]:
df1 = pd.read_excel("WT_0701-0707_raw.xlsx", usecols=[0])
df2 = pd.read_excel("WT_0701-0707_raw.xlsx", usecols=[1])
df3 = pd.read_excel("WT_0701-0707_raw.xlsx", usecols=[2])

raw = [df1[1.0].tolist(), df2[1.5].tolist(), df3[2.0].tolist()]
data = []


for i in range(10):
    randdata = random.choice(raw)
    adata = [round((i * random.uniform(0.8, 1.0))/1000, 2) for i in randdata]
    data.append(adata)

df4 = pd.DataFrame(data)
df = df4.T
# df.to_excel("WT profile.xlsx", index=False)
df

        0     1     2     3     4     5     6     7     8     9
0    0.47  0.64  0.31  0.32  0.29  0.54  0.31  0.47  0.53  0.66
1    0.53  0.66  0.32  0.31  0.32  0.48  0.27  0.48  0.47  0.69
2    0.51  0.62  0.29  0.25  0.26  0.44  0.28  0.51  0.47  0.66
3    0.52  0.73  0.27  0.29  0.29  0.50  0.27  0.49  0.48  0.63
4    0.51  0.69  0.31  0.27  0.29  0.54  0.30  0.55  0.49  0.67
..    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
163  0.13  0.33  0.05  0.05  0.05  0.13  0.04  0.14  0.13  0.36
164  0.17  0.41  0.07  0.06  0.07  0.15  0.06  0.17  0.15  0.41
165  0.31  0.45  0.13  0.14  0.14  0.31  0.13  0.31  0.30  0.44
166  0.26  0.49  0.13  0.15  0.14  0.30  0.15  0.29  0.27  0.53
167  0.30  0.53  0.14  0.12  0.13  0.29  0.12  0.26  0.26  0.45

[168 rows x 10 columns]

## PV Profile Generation<a class="anchor" id="pv_profile"></a>
The PV profile can also be done by using feedinlib, here I used this website that also use ERA5 weather to generate the data.
There are three raw data for prosumers that contain 2.3kw, 3.6kw and 4.7kw solar panel. The data then expand to 25.

In [6]:
df1 = pd.read_excel("PV_ERA5_raw_data.xlsx", usecols=[0])
df2 = pd.read_excel("PV_ERA5_raw_data.xlsx", usecols=[1])
df3 = pd.read_excel("PV_ERA5_raw_data.xlsx", usecols=[2])

raw = [df1[2.3].tolist(), df2[3.6].tolist(), df3[4.7].tolist()]
data = []


for i in range(25):
    randdata = random.choice(raw)
    adata = [round((i * random.uniform(0.8, 1.0))/1000, 2) for i in randdata]
    data.append(adata)

df4 = pd.DataFrame(data)
df = df4.T
# df.to_excel("PV profile.xlsx", index=False)
df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,0.06,0.04,0.06,0.08,0.04,0.07,0.07,0.04,0.04,0.08,...,0.03,0.07,0.07,0.06,0.03,0.04,0.04,0.06,0.06,0.08
164,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
165,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
166,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
167,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

## Gather the Data<a class="anchor" id="gather_data"></a>
After built the profile, we can then gather all the data into one table. In total, there will be 168 tables that cotains 150 households for each hour. Here as an example, shows the first hour of the data.

In [7]:
profile = pd.read_excel("ele profile.xlsx").T


pro = profile.sample(frac=0.2)
con = profile[~profile.index.isin(pro.index)]

con=con.T

PV = pd.read_excel("PV profile.xlsx").T
WT = pd.read_excel("WT profile.xlsx").T

WT1=WT.iloc[5:10].T
WT2 = WT.iloc[0:5].T
WT_PV_CON = pro.iloc[20:25].T
PV1 = PV.iloc[20:25].T

PV_CON = pro.iloc[0:20].T
PV2 = PV.iloc[0:20].T

only_WT_CON = pro.iloc[25:30].T

# hour = 10

all_list=[]


for hour in range(168):
    statistics = []
    i=5
    
    for j in list(only_WT_CON.columns):
            statistics.append([j,
                only_WT_CON[j][hour],
                0,
                WT1[i][hour],
                WT1[i][hour]-only_WT_CON[j][hour]])
            i+=1
    i=0
    j=20
    z=0
    
    for i in list(WT_PV_CON.columns):

            statistics.append([i,
                WT_PV_CON[i][hour],
                PV1[j][hour] ,
                WT2[z][hour],
                WT2[z][hour]+PV1[j][hour]-WT_PV_CON[i][hour]])
            j+=1
            z+=1
    j=0
    
    for i in list(PV_CON.columns):

        statistics.append([i,
            PV_CON[i][hour],
            PV2[j][hour],
            0,
            PV2[j][hour]-PV_CON[i][hour]])
        j+=1
        
    for i in list(con.columns):
        statistics.append([i,
            con[i][hour],
            0,
            0,
            -con[i][hour]])

    a=pd.DataFrame(statistics, columns=['Client ID','Consumption data','PV data','WT','Consumption/generation profile']
               ,index=[x[0] for x in statistics])
a.T.sort_index(axis=1)

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
Client ID,0.00,1.00,2.00,3.00,4.00,5.00,6.00,7.00,8.00,9.0,...,140.00,141.00,142.00,143.00,144.00,145.00,146.00,147.00,148.00,149.00
Consumption data,0.31,0.06,0.11,0.15,0.12,0.35,0.08,0.18,0.05,0.1,...,0.04,0.05,0.16,0.03,0.09,0.12,0.07,0.11,0.16,0.15
PV data,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
WT,0.00,0.00,0.00,0.00,0.26,0.00,0.00,0.00,0.00,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.29,0.00,0.00
Consumption/generation profile,-0.31,-0.06,-0.11,-0.15,0.14,-0.35,-0.08,-0.18,-0.05,-0.1,...,-0.04,-0.05,-0.16,-0.03,-0.09,-0.12,-0.07,0.18,-0.16,-0.15